
/* Color key

#454645: dark grey
#0c9ed5: light blue
#2a232f: dark grey from existing style (border line only)

*/

@font-face {
    font-family: 'ProximaNova-Light'; /*a name to be used later*/
    src: url('/fonts/ProximaNova-Regular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'ProximaNova-Regular'; /*a name to be used later*/
    src: url('/fonts/ProximaNova-Regular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'ProximaNova-Bold'; /*a name to be used later*/
    src: url('/fonts/ProximaNova-Bold.otf'); /*URL to font*/
}

/* background behind the logo*/
#header {
    background: white;
    border-color: white;
}

/* Background color of the menu */
#sidebar {
  background-color: white;
  color: #454645;
}

/* logo area background white, lower border to match the one at the bottom of the menu */
#header-wrapper {
  background-color: white;
  border-bottom: 1px solid #2a232f;
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: #454645;
}

/* sidebar text to normally be white */
#sidebar ul li.active > ul > li > a, #sidebar ul li.parent > a, #sidebar ul li.parent > ul > li > a  {
  color: white;
}

/* Roman numerals in sidebar */
#sidebar ul.topics > li > a b {
  opacity: 1;
}

/* sidebar text to turn blue when clicked */
#sidebar ul li.active > a, #sidebar ul.topics > li.active > a b  {
  color: #0c9ed5 !important;
  background-color: #454645;
}

/* Clickable elements in sidebar turn blue on hover */
#sidebar a:hover {
  color: #0c9ed5;
}

/* Clickable elements elsewhere turn blue on hover */
a:hover {
  color: #0c9ed5;
}

/* Sidebar text is grey on white by default*/
#sidebar a {
  color: #454645;
}

/* Color of all links, including arrows to get to previous and next pages */
a {
  color: #323232;
}

#logo img {
  padding: 8% 0;
}

#footer {
  color: #454645;
  padding: 0 1rem;
}

#footer ul li {
  display: list-item;
  list-style: disc outside none;
  margin-left: 10%;
}

/* Set the main fonts & sizes to match the style guide */
p, li, a, span {
  font-family: ProximaNova-Regular !important;
  font-size: 16px !important;
  line-height: 22px !important;
}

.blockquotes {
  font-family: ProximaNova-Regular !important;
  font-size: 22px !important;
  line-height: 30px !important;
  padding: 5%v !important;
}
body #chapter h1 {
  font-family: ProximaNova-Light !important;
  font-size: 36px !important;
  line-height: 42px !important;
}

#chapter p {
  text-align: left !important;
}

h1 {
  font-family: ProximaNova-Regular !important;
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-family: ProximaNova-Regular !important;
  font-size: 24px !important;
  line-height: 35px !important;
}

h3 {
  font-family: ProximaNova-Regular !important;
  font-size: 22px !important;
  line-height: 30px !important;
}

h4 {
  font-family: ProximaNova-Regular !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

h5 {
  font-family: ProximaNova-Bold !important;
  font-size: 18px !important;
  line-height: 26px !important;
}

h6 {
  font-family: ProximaNova-Bold !important;
  font-size: 16px !important;
  line-height: 22px !important;
}
