@font-face {
  font-family: 'ProximaNova-Light'; /*a name to be used later*/
  src: url('/fonts/ProximaNova-Regular.otf'); /*URL to font*/
}

@font-face {
  font-family: 'ProximaNova-Regular'; /*a name to be used later*/
  src: url('/fonts/ProximaNova-Regular.otf'); /*URL to font*/
}

@font-face {
  font-family: 'ProximaNova-Bold'; /*a name to be used later*/
  src: url('/fonts/ProximaNova-Bold.otf'); /*URL to font*/
}

#header-wrapper {
  border-bottom: solid 1px;
}

/* Set the main fonts & sizes to match the style guide */
p, li, a, span {
  font-family: ProximaNova-Regular !important;
  font-size: 16px !important;
  line-height: 22px !important;
}

.blockquotes {
  font-family: ProximaNova-Regular !important;
  font-size: 22px !important;
  line-height: 30px !important;
  padding: 5%v !important;
}
body #chapter h1 {
  font-family: ProximaNova-Light !important;
  font-size: 36px !important;
  line-height: 42px !important;
}

#chapter p {
  text-align: left !important;
}

h1 {
  font-family: ProximaNova-Regular !important;
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-family: ProximaNova-Regular !important;
  font-size: 24px !important;
  line-height: 35px !important;
}

h3 {
  font-family: ProximaNova-Regular !important;
  font-size: 22px !important;
  line-height: 30px !important;
}

h4 {
  font-family: ProximaNova-Regular !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

h5 {
  font-family: ProximaNova-Bold !important;
  font-size: 18px !important;
  line-height: 26px !important;
}

h6 {
  font-family: ProximaNova-Bold !important;
  font-size: 16px !important;
  line-height: 22px !important;
}

a.slides {
  font-size: 150% !important;
  color: #0c9ed5;
  padding-top: 30px;
  padding-bottom: 30px;
}
