<div id="menu-footer">
  <hr />
  <h4>Applications for Exercises</h4>
  <ul>
    <li><a href="/apps/rest-data-service.jar">Rest Data Service app</a></li>
    <li><a href="/apps/web-ui.zip">Web-UI app</a></li>
    <li><a href="/apps/rate-limit-route-service.jar">Rate Limiting Route Service app</a></li>
    <li><a href="/apps/uaa.war">UAA app</a></li>
    <li><a href="/apps/uaa-manifest.yml">UAA deployment manifest</a></li>
    <li><a href="/apps/uaa-guard-proxy.zip">UAA Guard Proxy</a></li>
  </ul>
</div>
