{{ partial "header.html" . }}

          <section id="body" style="margin-left:0px;">
          <div id="overlay"></div>

          <div class="padding highlightable">
            <p>
              This website supplies the course material for the Cloud Foundry Developer training course.
              Here you will find all the links to the slides and exercises that comprise the course.
            </p>
            <p>Good luck!</p>
            <img src="/images/big_cf_logo.png" style="width: 35%"/>
          </div>

        </section>

{{ partial "footer.html" . }}
